<!DOCTYPE html>
<html dir='ltr' lang='ja'>
  <head>
    <meta charset='UTF-8'>
    <meta content='chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='Serverspec.github.com : ' name='description'>
    <link href='stylesheets/stylesheet.css' media='screen' rel='stylesheet' type='text/css'>
    <title>serverspec - {{ page.title }}</title>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39733795-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class='outer' id='header_wrar'>
      <header class='inner'>
        <a href='https://github.com/serverspec/serverspec' id='forkme_banner'>View on GitHub</a>
        <h1 id='project_title'>serverspec</h1>
        <h2 id='project_tagline'>RSpec tests for your servers configured by Puppet, Chef or anything else</h2>
        <nav>
          <a href='./'>Home</a>
          |
          <a href='./tutorial.html'>Tutorial</a>
          |
          <a href='./resource_types.html'>Resource Types</a>
          |
          <a href='./advanced_tips.html'>Advanced Tips</a>
          |
          <a href='./changes.html'>Changes</a>
          |
          <a href='./contributors.html'>Contributors</a>
        </nav>
      </header>
    </div>
    <div class='outer' id='main_content_wrap'>
      <section class='inner' id='main_content'>
        {{ content }}
      </section>
    </div>
    <div class='outer' id='footer_wrap'>
      <footer class='inner'>
        <p>
          This project is maintained by
          <a href='http://mizzy.org/'>Gosuke Miyashita</a>
        </p>
        <p>
          Published with
          <a href='http://pages.github.com'>GitHub Pages</a>
        </p>
      </footer>
    </div>
  </body>
</html>
